mat-sidenav-container {
  height: calc(100vh - 65px);
}

.mat-sidenav {
  width: 200px;
  border-right: none;
  background: #262826;
  color: antiquewhite;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-content {
  height: calc(100vh - 65px);
}
.back-ground-img-blue {

  opacity: 0.9;
  border-radius: 10px;

}
.back-ground-img-blue:hover {
  opacity: 1;
}
