#mapContainer {
  position: relative;
  width: 600px; /* ajusta el tamaño según sea necesario */
  height: 400px; /* ajusta el tamaño según sea necesario */
}

#mapImage {
  width: 100%;
  height: 100%;
}
